*{scroll-behavior:smooth;}

 body{
	 margin:100px;
 }
.active {	
	color: pink;
}

.navbar {
	text-decoration: none;
	color: white;
	margin-right: 15px;
	font-family: Times New Roman, Sans-seif;
	text-align: center;
}
nav {
	overflow: hidden;
	width 100%;
	height : 50px;
	top: 20px;
	/*padding-bottom: 10px;*/
	position : fixed;
	background-color: #1C2833;
	border : 1px solid;
	
}
html {
	background-color: #ECF0F1;
}
